button {
  width: 10em;
  height:3em;
}

nav{
  width: 100%;
  height: 70px;
  background-color: #474747;
}

ul{
  display: flex;
}

li{
  list-style: none;
}
a{
  display: block;
  text-decoration: none;
  margin-right: 35px;
}

nav{
  padding-top: 5px;
  box-sizing: border-box;
}

