button {
  width: 10em;
  height:3em;
}

/* シンプル囲み枠 2*/
.kakomi-box2 {
 margin: 2em auto;
 padding: 1em;
 width: 90%;
 color: #666; /* 文字色 */
 background-color: #f7f7f7; /* 背景色 */
 border: 1px solid #ccc; /* 枠線 */
}

