nav{
  width: 100%;
  height: 70px;
  background-color: #878787;
}

ul{
  display: flex;
}

li{
  list-style: none;
}
a{
  display: block;
  text-decoration: none;
  margin-right: 35px;
}

nav{
  padding-top: 5px;
  box-sizing: border-box;
}

 body {
  background-image: url("https://into-the-program.com/cms/wp-content/webp-express/webp-images/uploads/overlay-gradient-background-image.jpg.webp");
  background-size: cover;
}
